
nav {
        background-color: purple;
        overflow: hidden;
        text-align: center;
      }

      nav a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
      }
